@model IEnumerable<LibraryClient.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.studentid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cls)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.studentid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cls)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phno)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.studentid  }) |
                
                @Html.ActionLink("Delete", "Delete", new { id=item.studentid  })
            </td>
        </tr>
}
    </tbody>
</table>
